

<h1>Welcome to the Adventures site</h1>
<p></p>
<h2>This site is about Adventures in various places.</h2>
<p></p>
<p></p>
<p><a = href = "activities">Activities</a></p>
<p><a = href = "states">States</a></p>
<p><a = href = "about">About</a></p>

<h1>Obsoletely Fabulous</h1>
<p>I can explain. It's very valuable. Well, then good news! It's a suppository. Then we'll go with that data file!</p>
<h2>The Birdbot of Ice-Catraz</h2>
<p>I suppose I could part with 'one' and still be feared&hellip; Stop! Don't shoot fire stick in space canoe! Cause explosive decompression! Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars. Um, is this the boring, peaceful kind of taking to the streets? I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope?</p>

<h1>The Deep South</h1>
<p>OK, if everyone's finished being stupid. As an interesting side note, as a head without a body, I envy the dead. Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. I just told you! You've killed me!</p>
<h2>The Late Philip J. Fry</h2>
<p>Calculon is gonna kill us and it's all everybody else's fault! Then we'll go with that data file! Dr. Zoidberg, that doesn't make sense. But, okay! And until then, I can never die?</p>
<ul>
<li>Dr. Zoidberg, that doesn't make sense. But, okay!</li>
<li>No argument here.</li>
<li>I never loved you.</li>
<li>Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence.</li>
</ul>
<h3>Lrrreconcilable Ndndifferences</h3>
<p>You lived before you met me?! Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence. What are their names? No! The cat shelter's on to me.</p>
<h4>The Duh-Vinci Code</h4>
<p>Our love isn't any different from yours, except it's hotter, because I'm involved. Bender! Ship! Stop bickering or I'm going to come back there and change your opinions manually! Robot 1-X, save my friends!  And Zoidberg! And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet.</p>
<ol>
<li>Bender?! You stole the atom.</li>
<li>Hey, whatcha watching?</li>
<li>Is today's hectic lifestyle making you tense and impatient?</li>
<li>Who are those horrible orange men?</li>
</ol>
<h5>Mars University</h5>
<p>Dr. Zoidberg, that doesn't make sense. But, okay! Who am I making this out to? Yes, I saw. You were doing well, until everyone died. Ah, yes! John Quincy Adding Machine.  He struck a chord with the voters when he pledged not to go on a killing spree. I suppose I could part with 'one' and still be feared&hellip;</p>
<h6>The Cyber House Rules</h6>
<p>I love this planet! I've got wealth, fame, and access to the depths of sleaze that those things bring. Hello Morbo, how's the family? And remember, don't do anything that affects anything, unless it turns out you were supposed to, in which case, for the love of God, don't not do it!</p>
<p>I didn't ask for a completely reasonable excuse! I asked you to get busy! What are their names? The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep.</p>
<p>Morbo will now introduce tonight's candidates&hellip; PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's good friend, Richard Nixon. I can explain. It's very valuable. Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? Leela, Bender, we're going grave robbing.</p>