$(document).ready(function (){
	function initialize() {
			var myLatLng = new google.maps.LatLng(latitude, longitude);
	        var mapOptions = {
	        	center: myLatLng,
	          // center: { lat: 33.785616, lng: -84.421590},
	          zoom: 17,
	          scrollwheel: false
	        };
	        var map = new google.maps.Map(document.getElementById('destination-map'), 
	        	mapOptions);

	        var image = "<%= asset_path 'PirateFlag.png' %>"

	        var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    icon: image,
			    title: "Hello World!",
			    animation: google.maps.Animation.BOUNCE
			});
			var contentString = '<h2>' + address +'</h2>' +
			  '<p>' + description + '</p>'
			;

			var infowindow = new google.maps.InfoWindow({
			  content: contentString
			});

			google.maps.event.addListener(marker, 'click', function() {
			   infowindow.open(map,marker);
			});
	      }

      google.maps.event.addDomListener(window, 'load', initialize);
});